:root {
  --primary-color: #f73859;
  --secondary-color: black;
  --third-color: #f2f2f2;
  --primary-font: "Capriola", sans-serif;
  --secondary-font: "Lato", sans-serif;
}

h1,
h2,
h4,
h5 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 18px;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
  margin-left: 80px;
}
h3 {
  font-size: 40px;
  font-family: var(--primary-font);
  color: white;
}

h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
.hero {
  background-image: url("/src/Teste.jpg");
  margin: 40px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 40px;
}
.home-title {
  border-left: var(--secondary-color);
}

.btn-contact {
  background-color: var(--secondary-color);
  color: white;
  transition: all 200ms ease-in-out;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-family: var(--secondary-font);
}
.projects-link a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.arrow-project {
  margin-left: 100px;
  font-size: 18px;
}

.about-paragraph {
  margin: auto;
  padding: 0 30px;
}

.flow-img {
  width: 80%;
}

.flow-container {
  background-color: var(--third-color);
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn-about {
  transition: all 200ms ease-in-out;
  padding: 5px 20px;
  border-radius: 50px;
  border-color: var(--secondary-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 18px;
}

.projects-container {
  margin-top: 100px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.pablo-img,
.weatherapp-img,
.portfolio-img,
.react-img {
  border-radius: 30px;
  background-color: var(--third-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-talk {
  background-color: white;
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.inquiry {
  background-color: var(--secondary-color);
  margin: 40px 0;
  padding: 40px 0;
  color: white;
}

.inquiry p {
  color: white;
}

.social-icons {
  font-size: 30px;
}
